.big-product-card {
    margin: 2vh 1vw;
    height: 120%;
    width: 50%;
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-width: 45%;
    position: relative;
    color : white;
}

.big-card-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #333;
    border-radius: 1vw;
}

.big-card-detail {
    height: 10%;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 8vw;
}

.big-card-bottum {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    color : white;
}

.big-card-get-code-button{
    position: absolute;
        background-color: #212121;
        border: none;
        border-radius: 1vh;
        padding: 1vh 2vw;
        font-weight: bold;
        right: 1vw;
        bottom: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1vh;
        color : white;
}