@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,800&family=Oswald&display=swap');
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.UpperCon {
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading1 {
    font-size: 4vw;
    color: #F2F2F2;
    text-shadow: 1px 1  px 2px #16b7ed;
}

.subheading {
    color: #F2F2F2;
    margin-left: 1%;
    font-size: 2vw;
}

.heading2 {
    color: rgb(77, 175, 200);
    margin-left: 1%;
    font-size: 3vw;
}

.heading2 span {
    color: white;
}

.heading2 span span {
    color: rgb(77, 175, 200);
    animation: blink 700ms infinite;
}

.uppercon-left {
    width: 45vw;
    height: 61vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 2%;
    padding-left: 4%;
}
.heading3 {
    color: #9CA3AF;
    font-size: 1.2vw;
    padding: 2%;
}

.beautiful {
    color: purple;
    font-size: 1.5vw;
}

.heading1,
.heading3,
.beautiful {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-decoration: capitalize;
}


.uppercon-right {
    height: 120vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.hero-element-structure{
    height: 70vh;
    width: 45vw;
    color : white;
    display: flex;
    justify-content: start;
    align-items: center;
    position : relative;
}


.slide {
    border : 2px solid white;
    height: 65vh;
    width: 45vw;
    position : absolute;
    border-radius : 0.6vw;
    box-shadow: 0px 0px 5px 0px #16b7ed;
    background-color: #212121;
    z-index: 3;
}

.slide-getcode-button{
    position: static;
    padding: 0.5vw 2vw 4px 2vw;
    border-radius: 6px;
    width : 10vw;
    border: 1px solid #333;
    font-size : 1.5vw;
    transform: translate(-8rem,10rem);
    font-family: 'Montserrat', sans-serif;
    background-color: #212121;
    color : white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap : 6px;
    cursor : pointer;
}
.slide-navbar{
    height: 6.5vh;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 1vw;
    box-shadow: 0px 0px 10px 0px white;;
}

.slide-loader{
    border : 1px solid red;
    animation: loader 5s infinite;
}
.dot-1{
    color : red;
    font-size: larger;
}
.dot-2{
    color : yellow;
    font-size: larger;
}
.dot-3{
    color : green;
    font-size: larger;
}

.slide-body{
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
}

.input-container {
    display: flex;
    height: 7vh;
    width: 35vw;
    justify-content: start;
    align-items: center;
    border: 2px solid #333;
    border-radius: 20vw;
}

.input {
    border-top-left-radius: 20vw;
    width: 30vw;
    height: 7vh;
    font-size: 1.2vw;
    border-bottom-left-radius: 20vw;
    border: none;
    border-right: 2px solid #212121;
    background: #D1D5DB;
    outline: none;
    text-align: center;
}

.searchButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 21vw;
    border-bottom-right-radius: 21vw;
    background: #D1D5DB;
    border-left: none;
    border: none;
    font-weight: 600;
    font-size: 1.2vw;
    height: 7vh;
    width: 10vw;
}

.main-input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35vw;
    height: 7vh;
}

.input-container:hover {
    border: 2px solid #16b7ed;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@media screen and (max-width:900px){
    .HeroContainer{
        overflow: auto;
    }
    .UpperCon{
        flex-direction: column;
        align-items: start;
        justify-content: start;
        gap : 5vh;
        height: fit-content;
    }
    .heading1{
        font-size: 11vw;
    }
    .heading2{
        font-size: 7vw;
    }
    .subheading{
        font-size: 5vw;
    }
    .uppercon-left{
        width: 90vw;
        height: auto;
        justify-content: start;
        gap : 1vh;
    }
    .uppercon-right{
        width: 90vw;
        position: relative;
    }
    .heading3{
        font-size: 2vw;
    }
    .main-input{
        width: 80vw;
        height: 10vh;
    }
    .beautiful{
        font-size: 3vw;
    }
    .input-container{
        height: 9vh;
        width: 80vw;
    }
    .input{
        height: 9vh;
        width: 65vw;
        font-size: 2vw;
    }
    .searchButton{
        height: 9vh;
        width: 15vw;
        font-size: 2vw;
    }
}



@media screen and (max-width : 500px)
{
    .HeroContainer{
        overflow: auto;
        height: 200vh;
    }
    .UpperCon{
        overflow: auto;
        height: fit-content;
        height: calc(fit-content + 1vh);
    }
    .uppercon-right{
        overflow: auto;
        height: calc(fit-content + 1vh);    
    }
    .main-input{
        width: 90vw;
        height: 10vh;
    }
    .input-container{
        height: 7vh;
    }
    .input{
        height: 7vh;
        width: 60vw;
        font-size: 3vw;
    }
    .heading3{
        font-size: 3vw;
    }
    .searchButton{
        height: 7vh;
        width: 20vw;
        font-size: 3vw;
    }
}

@keyframes loader {
    0%{
        width : 0%;
    }
    100%{
        width: 100%;
    }
}