*::-webkit-scrollbar{
    width: 5px;
    position: absolute;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #333;
    height: 0px;
    border-radius: 100px; 
  }
  
  *::-webkit-scrollbar-track {
    background-color: transparent; 
  }

  *{
    margin: 0;
    padding: 0;
  }

#background{
    position : absolute;
    z-index: -2;
    overflow: hidden;
    background-image: linear-gradient(black 10%,#191616);
    height: 100vh;
    top: 0;
    left: 0;
    width: 100vw;
}
